.sidebarItem, .sidebarItemActive {
    align-self: center;
}

.sidebarItem > .NavLink, .sidebarItemActive > .NavLink {
    text-decoration: none;
}

.sidebarItem__text {
    color: black;

}

.sidebarItemActive__text {
    color: black;
    font-weight: bold;
}